<center><h1>Ataques de Corazón<h1></center>
<img src=https://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/articles/health_tools/did_you_know_this_could_lead_to_heart_disease_slideshow/493ss_thinkstock_rf_heart_illustration.jpg />

# Diccionario de datos


   <table> 
   <tr>
       <td><strong>Variable</strong></td>
       <td><strong>Definition</strong></td>
       <td><strong>Key</strong></td>
   </tr>
   <tr>
       <td>age</td>
       <td>Edad de la persona en años</td>
       <td></td>
   </tr>
   <tr>
       <td>sex</td>
       <td>Sexo de la persona</td>
       <td>(1 = masculino , 0 = femenino)</td>
   </tr>
   <tr>
       <td>chest_pain</td>
       <td>Tipo de dolor de pecho ocasionado por una disminución de la irrigación sanguínea al corazón </td>
       <td>(1 = típico, 2= atípico, 3= dolor no producido por angina  ,4= sin síntomas </td>
   </tr>
   <tr>
       <td>blood_pressure</td>
       <td>Presión sanguínea de la persona en resposo (mmHg)</td>
       <td></td>
   </tr>
   <tr>
       <td>cholesterol</td>
       <td>Colesterol de la persona en mg/dl</td>
       <td></td>
   </tr>
   <tr>
       <td>blood_sugar</td>
       <td>Azúcar en sangre de la persona </td>
       <td>Supera 120 mg/dl (1 = true; 0 = false)</td>
   </tr>
   <tr>
       <td>result_ecg</td>
       <td>Resultado de electrocardiograma en reposo</td>
       <td>(0 = normal, 1 = anormalidad de onda , 2 = probable hipertrofia ventricular)</td>
   </tr>
   <tr>
       <td>max_heart_rate</td>
       <td>Mayor pulso registrado</td>
       <td></td>
   </tr>
   <tr>
       <td>exercise_angina</td>
       <td>Angina inducida por el ejercicio</td>
       <td>(1 = true, 0 = false)</td>
   </tr>
   <tr>
       <td>st_depression</td>
       <td>Depresión ST inducida por el ejercicio en relación con el descanso</td>
       <td></td>
   </tr>
   <tr>
       <td>st_slope</td>
       <td>La pendiente del segmento pico del ejercicio ST</td>
       <td>(1 = creciente, 2= plana, 3= decreciente)</td>
   </tr>
   <tr>
       <td>c_major_vassels</td>
       <td>Número de vasos principales/td>
       <td>(0-3)</td>
   </tr>
   <tr>
       <td>target</td>
       <td>Enfermedad del corazón</td>
       <td>(0 = false, 1 = true)</td>
   </tr>
   </table>

In [1]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

In [39]:
full = pd.read_csv("./heart.csv")

#Borramos la columna referida a thalassemia, explicacion debajo.
del full['thal']

#Cambiamos el nombre de las columnas para que queden igual que en el diccionario de datos.
full.columns = ['age', 'sex', 'chest_pain', 'blood_pressure', 'cholesterol', 'blood_sugar', 'result_ecg', 'max_heart_rate',
       'exercise_angina', 'st_depression', 'st_slope', 'c_major_vessels', 'target']

full.head(10)

,age,sex,chest_pain,blood_pressure,cholesterol,blood_sugar,result_ecg,max_heart_rate,exercise_angina,st_depression,st_slope,c_major_vessels,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,1
5,57,1,0,140,192,0,1,148,0,0.4,1,0,1
6,56,0,1,140,294,0,0,153,0,1.3,1,0,1
7,44,1,1,120,263,0,1,173,0,0.0,2,0,1
8,52,1,2,172,199,1,1,162,0,0.5,2,0,1
9,57,1,2,150,168,0,1,174,0,1.6,2,0,1

In [31]:
#Dividimos en el conjunto de train y test el dataset en un porcentaje de 30% test y el restante en train.
train, test = train_test_split(dt, test_size=0.3)

In [40]:
full.describe()

,age,sex,chest_pain,blood_pressure,cholesterol,blood_sugar,result_ecg,max_heart_rate,exercise_angina,st_depression,st_slope,c_major_vessels,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,1.000000

In [24]:
full.isnull().sum()

age                        0
sex                        0
chest_pain                 0
blood_pressure             0
cholesterol                0
blood_sugar                0
result_ecg                 0
max_heart_rate             0
exercise_induced_angina    0
st_depression              0
st_slope                   0
num_major_vessels          0
thalassemia                0
target                     0
dtype: int64